# Ambiente virtual
venv/

# Dados reais
dados/

# Arquivos gerados
saida/

# Filas e logs gerados em execução
fila_envio.csv
log_envios.csv

# Config local
config/local.py

# Arquivos temporários
__pycache__/
*.pyc